@import url('https://rsms.me/inter/inter.css');

html, input, button { 
  font-family: 'Inter', sans-serif; 
}

@supports (font-variation-settings: normal) {
  html, input, button, textarea { 
    font-family: 'Inter var', sans-serif; 
  }
}

body { 
  width: 90%; 
  max-width: 800px; 
  margin: 0 auto; 
  background: hsl(46, 100%, 83%); 
}

input, select, textarea {
  background: hsla(0, 0%, 100%, 0.7);
  border: 2px solid hsla(0, 0%, 0%, 0.4);
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 0.8em;
}

button {
  font-size: 1em;
  font-weight: 800;
  background: hsl(213, 100%, 42%);
  border: 2px solid hsla(0, 0%, 0%, 0.4);
  padding: 0.4em 1em;
  border-radius: 0.5em;
  color: white;
  letter-spacing: 0.035em;
  position: relative;
  cursor: pointer;
  margin: 0 0.2em;
}

button:hover {
  background: hsl(213, 100%, 62%);
}

button:disabled, button:disabled:hover, button:disabled:active {
  background: hsl(0, 0%, 62%);
  top: 0;
  opacity: 0.8;
}

button:active, button.active {
  background: hsl(213, 100%, 32%);
  top: 2px;
}

.destructive-button, .destructive-button:active, .destructive-button .active {
  background: hsl(11, 84%, 45%);
}

.destructive-button:hover {
  background: hsl(11, 84%, 62%);
}

.destructive-button:active, .destructive-button .active {
  background: hsl(11, 84%, 32%);
}

hr {
  border: none;
  border-top: 1px solid black;
}

h4 {
  margin: 2em 0 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: hsla(0, 0%, 0%, 0.4);
}

img {
  max-width: 100%;
}

a, a:link, a:visited {
  color: hsla(206, 83%, 39%, 1);
}

a:hover {
  text-decoration: none;
}

.dropdown {
  background: hsl(46, 100%, 95%);
  border: 2px solid hsla(0, 0%, 0%, 0.7);
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.3);
  padding: 5px 0px;
  border-radius: 5px;

  text-align: left;

  position: absolute;
  right: 0;
  z-index: 10;
}

.dropdown-item {
  display: block;
  cursor: pointer;
  padding: 0.5em 0.8em;
  margin: 0;
}

.dropdown-item:hover {
  background: hsla(0, 0%, 0%, 0.1);
}

.dropdown-item-no-action {
  cursor: auto;
}

.dropdown-item-no-action:hover {
  background: transparent;
}

.dropdown-wrapper {
  position: relative;
}

table {
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 4px;
}

thead {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);
}

tr, th {
  padding: 0.5em;
}

tr:nth-of-type(2n) {
  background: hsla(0, 0%, 0%, 0.05)
}

td {
  padding: 0.1em 0.3em;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 0%, 0.7);
  z-index: 20;
}

.modal {
  z-index: 30;
  background: hsl(46, 100%, 83%);
  position: absolute;
  width: 80vw;
  left: 50%;
  top: 50%;
  max-width: 600px;
  transform: translateX(-50%) translateY(-70%);
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden; /* Needed so head and body follow border radius */
  box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.6), 0 0 28px hsla(0, 0%, 0%, 0.3);
}

.modal-head {
  padding: 0.5rem 1rem;
  background: hsl(213, 100%, 32%);
  text-align: right;
  border-bottom: 2px solid black;
}

.modal-body {
  padding: 1rem;
  max-height: 60vh;
  overflow-y: scroll;
}

.modal-close-button {
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.7);
}

.modal-close-button:hover {
  color: hsla(0, 0%, 100%, 1);
}